body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.full-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    width: 580px;
    height: 400px;
    
}


/* left box */

.left-box {
    /* background-color: purple; */
    background-image: url(../../images/image-product-desktop.jpg);
    background-size: 290px 480px;
    border-radius: 10px 0 0 10px;
    
}


/* Right box */

.right-box {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 5% 4%;
}


.perfume {
    
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
}

.heading-h1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    line-height: 1;
}

.paragraph {
    color: hsl(228, 12%, 48%);
    padding: 5% 0;
}

/* Prices */

.prices { 
    text-align: left
}

.discount-price {
    display: inline;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.mrp-price {
    display: inline;
    position: relative;
    left: 20px;
    bottom: 6px;
    text-decoration:line-through;
    
}

/* Button */

.cart-icon {
    padding: 5%;
}

.cart-button {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
}


/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* Mobile Devices at 375px */

@media (max-width: 400px) {
    main {
        /* width:300px ; */
        align-items: center;
        margin:0 auto;
    }
    .full-box {
        position: static;
        width: 360px;
        margin: 10% 7% 0 3%;
        
        
    }
    .left-box {
        height: 250px;
        width: 360px;
        border-radius: 10px 10px 0 0;
        background-image: url(../../images/image-product-mobile.jpg);
        background-size: 360px 250px;
        
    }
    .right-box {
        padding: 25px;

    }
    .cart-icon {
        padding: 3%;
    }

    footer {
        position: relative;
        top: 280px;
    }
}